
.products {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}
.product_block {
    margin: 20px;
}
.product_image {
    width: 100%;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page_button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #242b2e;
    color: #ffffff;
    transition: all 0.3s;
    margin: 5px;
}

.page_button:hover {
    transform: scale(1.1);
}